body {
  background-color: burlywood;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
input {
  font-size: 2rem;
}
button {
  font-size: 2rem;
  margin-left: 1rem;
}
button:hover {
  background-color: blue;
  color: white;
}
#container {
  background-color: antiquewhite;
  border: 5px solid black;
  border-radius: 2rem;
  text-align: center;
  padding-top: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}
