@media screen and (min-width: 480px) {
  #navbar {
    width: 250px;
    float: left;
  }
}
header {
  font-size: 2rem;
}
#navbar {
  display: block;
  position: fixed;
  min-width: 250px;
  height: 100%;
  border-right: 5px solid black;
}
#main-doc {
  position: absolute;
  display: block;
  margin-left: 100px;
  padding: 150px;
}
