* {
  text-align: center;
}
body {
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-section {
  background-color: darkcyan;
  border: 4px solid whitesmoke;
  border-radius: 25px;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  font-size: 1.8rem;
}
#description {
  font-size: 1.4rem;
}
.input-section {
  background-color: darkcyan;
  border: 4px solid whitesmoke;
  border-radius: 25px;
  width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 34rem;
}
.first-section {
  font-size: 1.5rem;
}
#name,
#email,
#number {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
#dropdown-label,
#dropdown {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.form-group {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.places {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
#textarea-label {
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
#textarea {
  font-size: 1rem;
  width: 30rem;
  text-align: left;
  margin-top: 1rem;
}
#submit {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: black;
  background-color: cadetblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
